@use "vuetify" with (
  $body-font-family: "Open Sans"
);

.text-h1 {
  font-size: 2.25rem !important;
  line-height: 2.5rem;
  font-weight: normal;
}

.text-h2 {
  font-size: 1.875rem !important;
  line-height: 2.25rem;
  font-weight: normal;
}

.text-h3 {
  font-size: 1.5rem !important;
  line-height: 2rem;
  font-weight: normal;
}

.text-h4 {
  font-size: 1.25rem !important;
  line-height: 1.75rem;
  font-weight: normal;
}

.text-h5 {
  font-size: 1.125rem !important;
  line-height: 1.75rem;
  font-weight: normal;
}

.text-h6 {
  font-size: 1rem !important;
  line-height: 1.5rem;
  font-weight: normal;
}

code,
kbd,
pre,
samp {
  font-family: "JetBrains Mono", monospace;
}
